{
    "GraderFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": ""
    },
    "GameTaskFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": ""
    },
    "SaveK8sAccountFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": ""
    },
    "KeygenFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": ""
    }
}