{
    "GraderFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": "",
        "TestRecordTable": "",
        "NpcTaskTable": "",
        "NpcLockTable": "",
        "NpcBackgroundTable": "",
        "ConversationTable": ""
    },
    "GameTaskFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": "",
        "TestRecordTable": "",
        "NpcTaskTable": "",
        "NpcLockTable": "",
        "NpcBackgroundTable": "",
        "ConversationTable": ""
    },
    "SaveK8sAccountFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": "",
        "TestRecordTable": "",
        "NpcTaskTable": "",
        "NpcLockTable": "",
        "NpcBackgroundTable": "",
        "ConversationTable": ""
    },
    "KeygenFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "SessionTable": "",
        "ApiKeyTable": "",
        "TestResultBucket": "",
        "SecretHash": "",
        "ApiGateWayName": "",
        "StageName": "",
        "UsagePlanName": "",
        "TestRecordTable": "",
        "NpcTaskTable": "",
        "NpcLockTable": "",
        "NpcBackgroundTable": "",
        "ConversationTable": ""
    }
}