{
    "GraderFunction": {
        "AccountTableName": "",
        "GameTaskTableName": "",
        "ScoreTableName": "",
        "SessionTableName": ""
    },
    "GraderFunctionArn": {
        "AccountTableName": "",
        "GameTaskTableName": "",
        "ScoreTableName": "",
        "SessionTableName": ""
    }
}