{
    "GraderFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "ScoreTable": "",
        "SessionTable": ""
    },
    "GameTaskFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "ScoreTable": "",
        "SessionTable": ""
    }
}