{
    "GraderFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "ScoreTable": "",
        "SessionTable": "",
        "TestResultBucket": ""
    },
    "GameTaskFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "ScoreTable": "",
        "SessionTable": "",
        "TestResultBucket": ""
    },
    "SaveK8sAccountFunction": {
        "AccountTable": "",
        "GameTaskTable": "",
        "ScoreTable": "",
        "SessionTable": "",
        "TestResultBucket": ""
    }
}